
@using WebApplication1.Models
@model List<GioHang>
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<style>
    tr {
        border: 1px solid gray;
    }

    td {
        font-size: 15px;
        font-weight: 700;
        border-left: none;
        border-right: none;
        border-top-color: gray;
        border-bottom-color: gray;
    }



    input {
        width: 50px;
    }

    #Date {
        width: 130px;
    }

    span {
        color: black;
        font-size: 15px;
        font-weight: 600;
    }

    #DatHang {
        width: 150px;
        height: 30px;
        padding-top: 5px;
        padding-left: 15px;
        border: 1px solid black;
        display: block;
        margin-left: 500px;
        border-radius: 3px;
    }

        #DatHang:hover {
            background-color: #eb4800;
            color: white;
        }

    a:hover {
        color: white;
    }
    #MuaTiep{
        margin-top:40px;

    }
    #MuaTiep a:hover{
        color:gray;
    }
</style>
<h4 class="title"><span class="text"><strong>Giỏ Hàng </strong> Của Bạn</span></h4>
<table style="width:1200px; height:250px;" border="1">
    <tr>

        <td>Tên Cá</td>
        <td> Ảnh Cá</td>
        <td>Số Lượng</td>
        <td> Đơn Giá</td>
        <td>Thành Tiền</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>@item.sTenCa</td>
            <td> <img style="width:160px;height:100px;" src="~/images/@item.sAnhCa" /></td>
            @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @iMaSP = item.iMaCa }))
            {
                <td><input type="number" min="1" name="txtSoLuong" value="@item.iSoLuong" />  </td>
                <td>@string.Format("{0:0,0}", item.dDonggia)</td>
                <td>@string.Format("{0:0,0}", item.dThanhtien)</td>

            }
        </tr>
    }
    <tr style="font-weight:bold; color:red;">
        <td colspan="3">Số Lượng : @ViewBag.TongSoLuong</td>
        <td colspan="3">Tổng Số Tiền: @string.Format("{0:0,0}", ViewBag.TongTien) VNĐ</td>

    </tr>


</table>
<div id="MuaTiep">
    <h4> @Html.ActionLink("Tiếp Tục Mua Sắm", "GioHang", "GioHang")</h4>
</div>

<div style="margin-top:40px;">
    <h4 style=" color: #eb4800;">Thông Tin Địa Chỉ Người Nhận</h4>

    @{
        KhachHang kh = (KhachHang)Session["TaiKhoan"];
    }
    <div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <div>
                <span>
                    Họ Tên:

                    @kh.HoTen

                    <br />


                    Địa Chỉ :

                    @kh.DiachiKH
                    <br />
                    Điện Thoại :

                    @kh.DienThoaiKH
                    <br />
                    Ngày Đặt Hàng:

                    @DateTime.Now.ToShortDateString()

                    <br />
                    Ngày Giao Hàng:
                </span>
                <input id="Date" type="date" name="NgayGiao" />
            </div>

            <h4 id="DatHang"> @Html.ActionLink("Đặt Hàng Ngay", "XacNhanDonHang", "GioHang")</h4>

        }
    </div>
</div>



